---
layout: default
amp_components:
  - <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
  - <script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
---
{% include carousel.html %}
<!--
<div class="mx-auto mt5 max-width-4">
  <a href="/tapati" target="_blank">
  <amp-img src="/assets/images/TapatiLetrassvg.svg"
    width="130"
    height="46"
    layout="responsive"
    alt="{{page.title}}">
    <amp-img placeholder
        src="/assets/images/NuaMana.svg"
        layout="fill">
      </amp-img>
  </amp-img>
  </a>
</div>
-->
<div class="flex justify-center flex-wrap content-end inika scoutl">
  <h1>{{ site.data.site.frase_fuerza }}</h1>
</div>

{% unless site.posts == nil %}
<div class="max-width-2 mx-auto m1">
  {% for post in site.posts limit:1 %}
    <a href="{{ post.url }}" class="text-decoration-none">
      <div class="flex flex-wrap items-center p1 border_posts rounded mb1 overflow-hidden">
        <div class="col-3 pr1">
          {% if post.img == nil %}
            <figure class="fit rounded">
              <amp-img src="/assets/images/nuamana.svg"
                width="320"
                height="231"
                layout="responsive"
                alt="{{post.title}}">
                <amp-img placeholder
                  src="/assets/images/nuamana.svg"
                  layout="fill">
                </amp-img>
              </amp-img>
              <figcaption class="hide">{{post.title}}</figcaption>
            </figure>
          {% endif %}
          {% unless post.img == nil %}
          <amp-img src="{{ post.img }}" width="300" height="300" layout="responsive" alt="{{post.title}}" class="fit rounded"></amp-img>
          {% endunless %}
        </div>
        <div class="col-9">
          <h4>
            {{ post.title }}
          </h4>
          <p class="">{{ post.resumen | truncate: 140 }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endunless %}

<div class="flex flex-wrap justify-center px2 clearfix">
  <a href="{{ site.data.nosotros.url_1 }}" class="imgn">
    <div class="card_title center">
      {{ site.data.nosotros.frase_comun }} <br><strong>{{ site.data.nosotros.palabra_1 }}</strong>
    </div>
    <div class="sm-col center m01">
      <amp-img src="{{ site.data.nosotros.imagen1 }}"
      width="281"
      height="374"
      alt="{{ site.data.nosotros.frase_1 }}" class="imgn1"></amp-img>
      <div class="highL hl1 p2 mx-auto">{{ site.data.nosotros.frase_1 }}</div>
    </div>
  </a>
  <a href="{{ site.data.nosotros.url_2 }}" class="imgn">
    <div class="card_title center">
      {{ site.data.nosotros.frase_comun }} <br><strong>{{ site.data.nosotros.palabra_2 }}</strong>
    </div>
    <div class="sm-col center m01">
      <amp-img src="{{ site.data.nosotros.imagen2 }}"
      width="281"
      height="374"
      alt="{{ site.data.nosotros.frase_2 }}" class="imgn1"></amp-img>
      <div class="highL hl2 p2 mx-auto">{{ site.data.nosotros.frase_2 }}</div>
    </div>
  </a>
  <a href="{{ site.data.nosotros.url_3 }}" class="imgn">
    <div class="card_title center">
      {{ site.data.nosotros.frase_comun }} <br><strong>{{ site.data.nosotros.palabra_3 }}</strong>
    </div>
    <div class="sm-col center m01">
      <amp-img src="{{ site.data.nosotros.imagen3 }}"
      width="281"
      height="374"
      alt="{{ site.data.nosotros.frase_3 }}" class="imgn1"></amp-img>
      <div class="highL hl1 p2 mx-auto">{{ site.data.nosotros.frase_3 }}</div>
    </div>
  </a>
  <a href="{{ site.data.nosotros.url_4 }}" class="imgn">
    <div class="card_title center">
      {{ site.data.nosotros.frase_comun }} <br><strong>{{ site.data.nosotros.palabra_4 }}</strong>
    </div>
    <div class="sm-col center m01">
      <amp-img src="{{ site.data.nosotros.imagen4 }}"
      width="281"
      height="374"
      alt="{{ site.data.nosotros.frase_4 }}" class="imgn1"></amp-img>
      <div class="highL hl2 p2 mx-auto">{{ site.data.nosotros.frase_4 }}</div>
    </div>
  </a>
</div>
<div class="flex justify-center max-width-5 mx-auto">
  <div class="col sm-col md-col-4 center m01">
    <amp-instagram
      data-shortcode="{{ site.data.sociales.instagram1 }}"
      width="500"
      height="500"
      layout="responsive">
    </amp-instagram>
  </div>
  <div class="col sm-col md-col-4 center m01">
    <amp-facebook-page height="435" width="340"
      layout="fixed"
      data-hide-cover="true"
      data-locale="es"
      data-small-header="true"
      data-show-facepile="false"
      data-tabs="timeline, events, messages"
      data-href="{{ site.data.sociales.facebook }}">
    </amp-facebook-page>
  </div>
  <div class="col sm-col md-col-4 center m01">
    <amp-instagram
      data-shortcode="{{ site.data.sociales.instagram2 }}"
      width="1"
      height="1"
      layout="responsive">
    </amp-instagram>
  </div>
</div>
<div class="ubi py4 center">
  <div class="rongo ubi_rongo">Colegio Nuestra Senora de Guadalupe NSG San Jose de la Estrella Cero Ocho Cincuenta y Siete Comuna de la Granja</div>
  <h1>ENCUENTRANOS</h1>
  <p class="inika">
    Nuestro grupo trabaja en {{ site.data.site.encuentranos.nuestro_grupo_trabaja_en }}<br>
    Ubicado en {{ site.data.site.encuentranos.ubicado_en }}<br>
    Comuna de {{ site.data.site.encuentranos.comuna_de }}<br>
    Nos encontraras todos los <strong>{{ site.data.site.encuentranos.nos_encontraras_todos_los }}</strong>.
  </p>
  <div class="rongo ubi1_rongo">Todos los sabados desde las tres de la tarde ven a vivir Una Nueva Aventura</div>
</div>
{% include mapa.html %}
