<div class="insignia">
  <div class="insignia1">
    <amp-img src="/assets/images/insignia.png" width="230" height="230"/></amp-img>
  </div>
</div>
<amp-carousel height="300"
  layout="fixed-height"
  type="carousel">
  <amp-img src="/assets/images/1.jpg"
    width="400"
    height="300"
    alt="Tropa y Compañia en Campamento"></amp-img>
  <amp-img src="/assets/images/4.jpg"
    width="400"
    height="300"
    alt="Manada en Campamento"></amp-img>
  <amp-img src="/assets/images/2.jpg"
    width="983"
    height="300"
    alt="Foto grupal regresando de campamento"></amp-img>
  <amp-img src="/assets/images/3.jpg"
    width="533"
    height="300"
    alt="Foto tomada antes de subirnos al bus de regreso"></amp-img>
  <amp-img src="/assets/images/5.jpg"
    width="400"
    height="300"
    alt="Avanzada Rapa Hango en Bullileo"></amp-img>
  <amp-img src="/assets/images/6.jpg"
    width="400"
    height="300"
    alt="Fusión de Emojis Scouts"></amp-img>
  <amp-img src="/assets/images/7.jpg"
    width="400"
    height="300"
    alt="Foto durante actividades de tropa y compañia"></amp-img>
</amp-carousel>