<div class="insignia">
  <div class="insignia1">
    <amp-img src="{{ site.data.carousel.logo }}" width="{{ site.data.carousel.logo_w }}" height="{{ site.data.carousel.logo_h }}" alt="{{ site.data.carousel.logo_alt }}"/></amp-img>
  </div>
</div>
<amp-carousel height="300"
  layout="fixed-height"
  type="carousel">
  <amp-img src="{{ site.data.carousel.1i }}"
    width="{{ site.data.carousel.1w }}"
    height="300"
    alt="{{ site.data.carousel.1alt }}"></amp-img>
  <amp-img src="{{ site.data.carousel.2i }}"
    width="{{ site.data.carousel.2w }}"
    height="300"
    alt="{{ site.data.carousel.2alt }}"></amp-img>
  <amp-img src="{{ site.data.carousel.3i }}"
    width="{{ site.data.carousel.3w }}"
    height="300"
    alt="{{ site.data.carousel.3alt }}"></amp-img>
  <amp-img src="{{ site.data.carousel.4i }}"
    width="{{ site.data.carousel.4w }}"
    height="300"
    alt="{{ site.data.carousel.4alt }}"></amp-img>
  <amp-img src="{{ site.data.carousel.5i }}"
    width="{{ site.data.carousel.5w }}"
    height="300"
    alt="{{ site.data.carousel.5alt }}"></amp-img>
  <amp-img src="{{ site.data.carousel.6i }}"
    width="{{ site.data.carousel.6w }}"
    height="300"
    alt="{{ site.data.carousel.6alt }}"></amp-img>
  <amp-img src="{{ site.data.carousel.7i }}"
    width="{{ site.data.carousel.7w }}"
    height="300"
    alt="{{ site.data.carousel.7alt }}"></amp-img>
</amp-carousel>