---
layout: default
---
<main class="max-width-6 mx-auto" role="main">
	<article class="clearfix" role="article">
		<div class="col sm-col-12 md-col-9 contenido my2">
			<h1 class="c_titulo center">{{page.title}}</h1>
			{{ content }}
		</div>
		<aside class="col sm-col-12 md-col-3 pt2 pl1">
			<figure class="card-img-top">
				<amp-img src="/assets/images/NuaMana.svg"
					width="320"
					height="231"
					layout="responsive"
					alt="{{page.title}}">
					<amp-img placeholder
    					src="/assets/images/NuaMana.svg"
    					layout="fill">
    				</amp-img>
				</amp-img>
				<figcaption class="hide">{{page.title}}</figcaption>
			</figure>
		</aside>
	</article>
</main>