<!DOCTYPE html>
<html ⚡ lang="es">
	{% include head.html %}
<body class="amp-mode-mouse tapatiBody">
	{% include headerTapati.html %}
	<main class="max-width-6 mx-auto" role="main">
	<article class="clearfix" role="article">
		<div class="col sm-col-12 md-col-9 TapatiContenido my2">
			<amp-img src="/assets/images/TapatiLetrassvg.svg"
					width="130"
					height="46"
					layout="responsive"
					alt="{{page.title}}">
					<amp-img placeholder
    					src="/assets/images/NuaMana.svg"
    					layout="fill">
    				</amp-img>
				</amp-img>
			{{ content }}
		</div>
		<aside class="col sm-col-12 md-col-3 pt2 pl1">
			<figure class="card-img-top">
				<amp-img src="/assets/images/TapatiAficheWeb2019.svg"
					width="320"
					height="415"
					layout="responsive"
					alt="{{page.title}}">
					<amp-img placeholder
    					src="/assets/images/NuaMana.svg"
    					layout="fill">
    				</amp-img>
				</amp-img>
				<figcaption class="hide">{{page.title}}</figcaption>
			</figure>
			<h4 class="right-align">Descargas</h4>
<a href="{{site.baseurl}}/assets/pdf/ComunicadoTapati2019.pdf" target="_blank" class="forA">
<div class="tapati_forD1">
	<div class="tapati_formularios left">
		<div class="tapati_formularios_1">
			<amp-img src="/assets/images/pdf.svg"
				width="24"
				height="24"
				layout="responsive"
				alt="{{page.title}}">
				<amp-img placeholder
					src="/assets/images/NuaMana.svg"
					layout="fill">
				</amp-img>
			</amp-img>
		</div>
	</div>
	<div class="tapati_forN1">
		Comunicado Oficial de la Actividad
	</div>
</div>
</a>
<a href="{{site.baseurl}}/assets/pdf/TapatiGuiaScout2019.pdf" target="_blank" class="forA">
<div class="tapati_forD1">
	<div class="tapati_formularios left">
		<div class="tapati_formularios_1">
			<amp-img src="/assets/images/pdf.svg"
				width="48"
				height="48"
				layout="responsive"
				alt="{{page.title}}">
				<amp-img placeholder
					src="/assets/images/NuaMana.svg"
					layout="fill">
				</amp-img>
			</amp-img>
		</div>
	</div>
	<div class="tapati_forN1">
		Documento detallado de la actividad
	</div>
</div>
</a>
<a href="https://forms.gle/xCK8EU5LbQSHQxxw7" target="_blank" class="forA">
<div class="tapati_forD1">
	<div class="tapati_formularios left">
		<div class="tapati_formularios_1">
			<amp-img src="/assets/images/googleForm.svg"
				width="48"
				height="48"
				layout="responsive"
				alt="{{page.title}}">
				<amp-img placeholder
					src="/assets/images/NuaMana.svg"
					layout="fill">
				</amp-img>
			</amp-img>
		</div>
	</div>
	<div class="tapati_forN1">
		Formulario de Inscripción
	</div>
</div>
</a>
		</aside>
	</article>
</main>
	{% include analytics.html %}
</body>
</html>