---
layout: default
---
<main class="max-width-6 mx-auto" role="main">
	<article class="clearfix" itemscope itemtype="http://schema.org/BlogPosting" role="article">
		<link itemprop="additionalType" href="http://schema.org/Article"/>
		<div class="col sm-col-12 md-col-9 contenido my2">
			<h1 class="c_titulo center" itemprop="name">{{page.title}}</h1>
			{% unless page.bandera == nil %}
			<figure class="card-img-top">
				<amp-img src="{{site.baseurl}}/{{page.bandera}}"
					width="600"
					height="360"
					layout="responsive"
					alt="{{page.title}}">
					<amp-img placeholder
    					src="/assets/images/NuaMana.svg"
    					layout="fill">
    				</amp-img>
				</amp-img>
				<figcaption class="hide">{{page.title}}</figcaption>
			</figure>
			{% endunless %}
			{% unless page.svg == nil %}
			<figure class="card-img-top">
				<amp-img src="{{site.baseurl}}/{{page.svg}}"
					width="300"
					height="300"
					class="logo_unidad"
					alt="{{page.title}}">
					<amp-img placeholder
    					src="/assets/images/NuaMana.svg"
    					layout="fill">
    				</amp-img>
				</amp-img>
				<figcaption class="hide">{{page.title}}</figcaption>
			</figure>
			{% endunless %}

{% unless site.categories.tropa == nil %}
			<div class="max-width-4 mx-auto m1">
			  {% for post in site.categories.tropa %}
			    <a href="{{ post.url }}" class="text-decoration-none">
			      <div class="flex flex-wrap items-center p1 border_postsU rounded mb1 overflow-hidden">
			        <div class="col-3 pr1">
			          {% if post.img == nil %}
			            <figure class="fit rounded">
			              <amp-img src="/assets/images/nuamana.svg"
			                width="320"
			                height="231"
			                layout="responsive"
			                alt="{{post.title}}">
			                <amp-img placeholder
			                  src="/assets/images/nuamana.svg"
			                  layout="fill">
			                </amp-img>
			              </amp-img>
			              <figcaption class="hide">{{post.title}}</figcaption>
			            </figure>
			          {% endif %}
			          {% unless post.img == nil %}
			          <amp-img src="{{ post.img }}" width="300" height="300" layout="responsive" alt="{{post.title}}" class="fit rounded"></amp-img>
			          {% endunless %}
			        </div>
			        <div class="col-9">
			          <h4>
			            {{ post.title }}
			          </h4>
			          <div class="fecha">{{post.date | date: "%d / %m / %Y"}}</div>
			          <p class="post_content">{{ post.resumen | truncate: 140 }}</p>
			        </div>
			      </div>
			    </a>
			  {% endfor %}
			</div>
{% endunless %}

			<div class="contenidos">
				{{ content }}
			</div>
		</div>
		<aside class="col sm-col-12 md-col-3 pt2 pl1">
			{% unless page.instagram1 == nil %}
			<amp-instagram
		      data-shortcode="{{ page.instagram1 }}"
		      width="320"
		      height="320"
		      layout="responsive">
		    </amp-instagram>
		    {% endunless %}
			{% unless page.svg == nil %}
			<figure class="card-img-top">
				<amp-img src="{{site.baseurl}}/{{page.img}}"
					width="320"
					height="320"
					layout="responsive"
					class="logo_unidad_side"
					alt="{{page.title}}">
					<amp-img placeholder
    					src="/assets/images/NuaMana.svg"
    					layout="fill">
    				</amp-img>
				</amp-img>
				<figcaption class="hide">{{page.title}}</figcaption>
			</figure>
			{% endunless %}
			{% unless page.instagram2 == nil %}
			<amp-instagram
		      data-shortcode="{{ page.instagram2 }}"
		      width="320"
		      height="320"
		      layout="responsive">
		    </amp-instagram>
		    {% endunless %}
		</aside>
	</article>
</main>